section {
  height: 70px;
  width: 100%;
  border: solid 1px #dddddd;
  border-radius: 4px;
  display: flex;
  align-items: center;
  position: relative;
}

.container .filter,
button {
  font-size: 18px;
  background-color: #ff5a5f;
  color: white;
  height: 48px;
  width: 20%;
  border: none;
  border-radius: 4px;
  position: absolute;
  right: 30px;
  opacity: 90%;
}

button:hover {
  opacity: 90%;
}
