section {
  height: 70px;
  width: 100%;
  border: solid 1px #dddddd;
  border-radius: 4px;
  display: flex;
  align-items: center;
  position: relative;
}

.container .filter,
button {
  font-size: 18px;
  background-color: #ff5a5f;
  color: white;
  height: 48px;
  width: 20%;
  border: none;
  border-radius: 4px;
  position: absolute;
  right: 30px;
  opacity: 90%;
}

button:hover {
  opacity: 90%;
}

.filters .locations {
  height: 100%;
  width: 25%;
  border-right: solid 1px #dddddd;
  line-height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
}

.filters .amenities {
    height: 100%;
    width: 25%;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
  }

.filters,
h3 {
  font-weight: 600;
}

.filters,
h4 {
  font-weight: 400;
}
